.all{
    text-align: center;
    background-image: tasbih;
    margin-top:150px;
}
button{
    size: 50px;
}
.hd{
    border-radius: solid;
    background-color: aquamarine;
}
body{
    background-image: url(./tasbih.jpg);
    background-size: cover;
}
.input{
    font-size: larger;
    border-radius: 5px;
}